#############################################
#                                           #
#               Configuration               #
#                                           #
#############################################

# All makefiles

**/Makefile.in

# Other binary files
config.h
config.log
config.status
archive/gtkgui/debuggui
libtool
archive/pythonbiogeme/debugbiogeme
archive/pythonbiogeme/pythonbiogeme
archive/pythonbiogeme/pythonbiogeme_static
stamp-h1
archive/tools/histograms/histogram
archive/tools/histograms/weightedhistogram
archive/tools/prepareData/biocheckdata
archive/tools/prepareData/biopreparedata
archive/tools/prepareData/biosampledata

#############################################
#                                           #
#                Compilation                #
#                                           #
#############################################

# All .lo files
**/*.lo
**/*.la
**/.libs

# Other files
autom4te.cache/
archive/libraries/utils/patCompilationDate.h
archive/libraries/utils/patUser.h
archive/biogeme/biogeme
archive/biogeme/biogeme-biogeme.o
archive/libraries/bisonbiogeme/.libs/
archive/libraries/pythonbiogeme/.libs/
archive/libraries/pythonbiogeme/bioCompilationDate.h
archive/libraries/pythonbiogeme/bioUser.h
archive/pybiogeme/pybiogeme-pybiogeme.o
archive/libraries/bisonbiogeme/patSpecParser.cc
archive/libraries/bisonbiogeme/patSpecParser.hh
archive/biomerge/biomerge
archive/biomerge/biomerge-biomerge.o
archive/biosim/biosim
archive/biosim/biosim-biosim.o
archive/biosim/biosim-patSimVersion.o
archive/mod2py/mod2py
archive/mod2py/mod2py-mod2py.o
archive/pybiogeme/pybiogeme

#############################################
#                                           #
#                   Other                   #
#                                           #
#############################################
.idea
src/cbiogeme.cpp
biogeme.egg-info
build
tests/functions/simpleExample.html
tests/functions/simpleExample.pickle
tests/functions/simpleExample~00.html
tests/functions/simpleExample~00.pickle
tests/functions/simpleExample~01.html
tests/functions/simpleExample~01.pickle
tests/functions/simpleExample~02.html
tests/functions/simpleExample~02.pickle
tests/functions/simpleExample~03.html
tests/functions/simpleExample~03.pickle
tests/functions/simpleExample~04.html
tests/functions/simpleExample~04.pickle
tests/functions/simpleExample~05.html
tests/functions/simpleExample~05.pickle
biogeme/pylint.log
tests/swissmetro/biogemeModelDefaultName~14.pickle
tests/swissmetro/biogemeModelDefaultName~14.html
tests/swissmetro/biogemeModelDefaultName~13.pickle
tests/swissmetro/biogemeModelDefaultName~13.html
tests/functions/simpleExample~08.html
tests/functions/simpleExample~07.pickle
tests/functions/simpleExample~07.html
tests/functions/simpleExample~06.pickle
tests/functions/simpleExample~06.html
tests/swissmetro/biogemeModelDefaultName~15.html
tests/swissmetro/biogemeModelDefaultName~15.pickle
tests/swissmetro/biogemeModelDefaultName~16.html
tests/swissmetro/biogemeModelDefaultName~16.pickle
tests/swissmetro/biogemeModelDefaultName~17.html
tests/swissmetro/biogemeModelDefaultName~17.pickle
tests/swissmetro/biogemeModelDefaultName~18.html
tests/swissmetro/biogemeModelDefaultName~18.pickle
tests/swissmetro/biogemeModelDefaultName~19.html
tests/swissmetro/biogemeModelDefaultName~19.pickle
tests/swissmetro/biogemeModelDefaultName~20.html
tests/swissmetro/biogemeModelDefaultName~20.pickle
tests/swissmetro/biogemeModelDefaultName~21.html
tests/swissmetro/biogemeModelDefaultName~21.pickle
tests/swissmetro/biogemeModelDefaultName~22.html
tests/swissmetro/biogemeModelDefaultName~22.pickle
tests/swissmetro/biogemeModelDefaultName~23.html
tests/swissmetro/biogemeModelDefaultName~23.pickle
biogeme/tmp.lis
tests/test.pickle
sphinx/_build
sphinx/shinx.log
tests/test.pickle
tests/test.pickle
tests/test.pickle
