#############################################
#                                           #
#               Configuration               #
#                                           #
#############################################

# All makefiles

**/Makefile.in

# Other binary files
config.h
config.log
config.status
archive/gtkgui/debuggui
libtool
archive/pythonbiogeme/debugbiogeme
archive/pythonbiogeme/pythonbiogeme
archive/pythonbiogeme/pythonbiogeme_static
stamp-h1
archive/tools/histograms/histogram
archive/tools/histograms/weightedhistogram
archive/tools/prepareData/biocheckdata
archive/tools/prepareData/biopreparedata
archive/tools/prepareData/biosampledata

#############################################
#                                           #
#                Compilation                #
#                                           #
#############################################

# All .lo files
**/*.lo
**/*.la
**/.libs

# Other files
autom4te.cache/
archive/libraries/utils/patCompilationDate.h
archive/libraries/utils/patUser.h
archive/biogeme/biogeme
archive/biogeme/biogeme-biogeme.o
archive/libraries/bisonbiogeme/.libs/
archive/libraries/pythonbiogeme/.libs/
archive/libraries/pythonbiogeme/bioCompilationDate.h
archive/libraries/pythonbiogeme/bioUser.h
archive/pybiogeme/pybiogeme-pybiogeme.o
archive/libraries/bisonbiogeme/patSpecParser.cc
archive/libraries/bisonbiogeme/patSpecParser.hh
archive/biomerge/biomerge
archive/biomerge/biomerge-biomerge.o
archive/biosim/biosim
archive/biosim/biosim-biosim.o
archive/biosim/biosim-patSimVersion.o
archive/mod2py/mod2py
archive/mod2py/mod2py-mod2py.o
archive/pybiogeme/pybiogeme

#############################################
#                                           #
#                   Other                   #
#                                           #
#############################################
.idea
examples/notebooks/.ipynb_checkpoints/*
examples/workingNotToDistribute
src/cbiogeme.cpp
biogeme.egg-info
build
tests/functions/simpleExample.html
tests/functions/simpleExample.pickle
tests/functions/simpleExample~00.html
tests/functions/simpleExample~00.pickle
tests/functions/simpleExample~01.html
tests/functions/simpleExample~01.pickle
tests/functions/simpleExample~02.html
tests/functions/simpleExample~02.pickle
tests/functions/simpleExample~03.html
tests/functions/simpleExample~03.pickle
tests/functions/simpleExample~04.html
tests/functions/simpleExample~04.pickle
tests/functions/simpleExample~05.html
tests/functions/simpleExample~05.pickle
biogeme/pylint.log
tests/swissmetro/biogemeModelDefaultName~14.pickle
tests/swissmetro/biogemeModelDefaultName~14.html
tests/swissmetro/biogemeModelDefaultName~13.pickle
tests/swissmetro/biogemeModelDefaultName~13.html
tests/functions/simpleExample~08.html
tests/functions/simpleExample~07.pickle
tests/functions/simpleExample~07.html
tests/functions/simpleExample~06.pickle
tests/functions/simpleExample~06.html
tests/swissmetro/biogemeModelDefaultName~15.html
tests/swissmetro/biogemeModelDefaultName~15.pickle
tests/swissmetro/biogemeModelDefaultName~16.html
tests/swissmetro/biogemeModelDefaultName~16.pickle
tests/swissmetro/biogemeModelDefaultName~17.html
tests/swissmetro/biogemeModelDefaultName~17.pickle
tests/swissmetro/biogemeModelDefaultName~18.html
tests/swissmetro/biogemeModelDefaultName~18.pickle
tests/swissmetro/biogemeModelDefaultName~19.html
tests/swissmetro/biogemeModelDefaultName~19.pickle
tests/swissmetro/biogemeModelDefaultName~20.html
tests/swissmetro/biogemeModelDefaultName~20.pickle
tests/swissmetro/biogemeModelDefaultName~21.html
tests/swissmetro/biogemeModelDefaultName~21.pickle
tests/swissmetro/biogemeModelDefaultName~22.html
tests/swissmetro/biogemeModelDefaultName~22.pickle
tests/swissmetro/biogemeModelDefaultName~23.html
tests/swissmetro/biogemeModelDefaultName~23.pickle
biogeme/tmp.lis
tests/test.pickle
sphinx/_build
sphinx/shinx.log
tests/test.pickle
tests/test.pickle
tests/test.pickle
dist/biogeme-3.2.6a0-py3.8-macosx-10.9-x86_64.egg
biogeme/.#biogeme.py
tests/test.pickle
examples/notebooks/_test.log
examples/notebooks/_test~00.log
examples/notebooks/_test~01.log
examples/notebooks/_test~02.log
examples/notebooks/_test~03.log
examples/notebooks/_test~04.log
examples/notebooks/_test~05.log
examples/notebooks/_test~06.log
examples/notebooks/_test~07.log
examples/notebooks/_test~08.log
examples/notebooks/simpleExample.html
examples/notebooks/simpleExample.pickle
examples/notebooks/simpleExample_validation.pickle
examples/notebooks/simpleExample_validation~ 0.pickle
examples/notebooks/simpleExample_validation~ 1.pickle
examples/notebooks/simpleExample~ 0.html
examples/notebooks/simpleExample~ 0.pickle
examples/notebooks/simpleExample~ 1.html
examples/notebooks/simpleExample~ 1.pickle
examples/notebooks/simpleExample~ 2.html
examples/notebooks/simpleExample~ 2.pickle
examples/notebooks/simpleExample~ 3.html
examples/notebooks/simpleExample~ 3.pickle
examples/notebooks/simpleExample~ 4.html
examples/notebooks/simpleExample~ 4.pickle
examples/notebooks/simpleExample~ 5.html
examples/notebooks/simpleExample~ 5.pickle
examples/notebooks/simpleExample~ 6.html
examples/notebooks/simpleExample~ 6.pickle
examples/notebooks/simpleExample~ 7.html
examples/notebooks/simpleExample~ 7.pickle
examples/notebooks/__savedIterations.txt
examples/notebooks/test.dat
examples/notebooks/test~00.dat
dist/biogeme-3.2.6a0-py3.8-macosx-10.9-x86_64.egg
tests/functions/simpleExample~08.pickle
tests/functions/simpleExample~09.html
tests/functions/simpleExample~09.pickle
tests/functions/simpleExample~10.html
tests/functions/simpleExample~10.pickle
tests/functions/simpleExample~11.html
tests/functions/simpleExample~11.pickle
tests/functions/simpleExample~12.html
tests/functions/simpleExample~12.pickle
tests/functions/simpleExample~08.pickle
tests/functions/simpleExample~09.html
tests/functions/simpleExample~09.pickle
tests/functions/simpleExample~10.html
tests/functions/simpleExample~10.pickle
tests/functions/simpleExample~11.html
tests/functions/simpleExample~11.pickle
tests/functions/simpleExample~12.html
tests/functions/simpleExample~12.pickle
tests/swissmetro/biogemeModelDefaultName.html
tests/swissmetro/biogemeModelDefaultName.pickle
tests/swissmetro/biogemeModelDefaultName~00.html
tests/swissmetro/biogemeModelDefaultName~00.pickle
tests/swissmetro/biogemeModelDefaultName~01.html
tests/swissmetro/biogemeModelDefaultName~01.pickle
tests/swissmetro/biogemeModelDefaultName~02.html
tests/swissmetro/biogemeModelDefaultName~02.pickle
tests/swissmetro/biogemeModelDefaultName~03.html
tests/swissmetro/biogemeModelDefaultName~03.pickle
tests/swissmetro/biogemeModelDefaultName~04.html
tests/swissmetro/biogemeModelDefaultName~04.pickle
tests/swissmetro/biogemeModelDefaultName~05.html
tests/swissmetro/biogemeModelDefaultName~05.pickle
tests/swissmetro/biogemeModelDefaultName~06.html
tests/swissmetro/biogemeModelDefaultName~06.pickle
tests/swissmetro/biogemeModelDefaultName~07.html
tests/swissmetro/biogemeModelDefaultName~07.pickle
tests/swissmetro/biogemeModelDefaultName~08.html
tests/swissmetro/biogemeModelDefaultName~08.pickle
tests/swissmetro/biogemeModelDefaultName~09.html
tests/swissmetro/biogemeModelDefaultName~09.pickle
tests/swissmetro/biogemeModelDefaultName~10.html
tests/swissmetro/biogemeModelDefaultName~10.pickle
tests/swissmetro/biogemeModelDefaultName~11.html
tests/swissmetro/biogemeModelDefaultName~11.pickle
tests/swissmetro/biogemeModelDefaultName~12.html
tests/swissmetro/biogemeModelDefaultName~12.pickle
examples/swissmetro/01logit.html
examples/swissmetro/01logit.log
examples/swissmetro/01logit.pickle
examples/swissmetro/01logit~00.log
examples/swissmetro/01logit~00.pickle
examples/swissmetro/01logit~01.log
examples/swissmetro/01logit~01.pickle
tests/test~00.pickle
examples/notebooks/simpleExample~00.html
examples/notebooks/simpleExample~00.pickle
examples/notebooks/simpleExample~01.html
examples/notebooks/simpleExample~01.pickle
examples/notebooks/simpleExample~02.html
examples/notebooks/simpleExample~02.pickle
examples/notebooks/simpleExample~03.html
examples/notebooks/simpleExample~03.pickle
examples/notebooks/simpleExample~04.html
examples/swissmetro/26triangularPanelMixture.run
*.run
examples/swissmetro/scitas.csh
examples/swissmetro/scitas.py
examples/swissmetro/.ipynb_checkpoints/Untitled-checkpoint.ipynb
examples/swissmetro/__savedIterations.txt
*.pickle
examples/latent/01oneLatentRegression.tex
examples/latent/scitas.py
examples/montecarlo/scitas.py
examples/swissmetro/02weight~00.html
examples/swissmetro/01logit~00.html
examples/swissmetro/01logit~01.html
examples/latent/02oneLatentOrdered.tex
examples/latent/__savedIterations.txt
examples/latent/.#03choiceOnly_mc.py
examples/latent/02oneLatentOrdered~00.tex
examples/latent/04latentChoiceSeq.tex
examples/latent/04latentChoiceSeq~00.tex
examples/notebooks/simpleExample~05.html
examples/notebooks/simpleExample~06.html
examples/notebooks/simpleExample~07.html
examples/notebooks/simpleExample~08.html
examples/notebooks/simpleExample~09.html
examples/notebooks/simpleExample~10.html
examples/notebooks/simpleExample~11.html
examples/notebooks/simpleExample~12.html
examples/notebooks/simpleExample~13.html
examples/notebooks/simpleExample~14.html
examples/swissmetro/04validation~00.html
examples/swissmetro/04validation~01.html
examples/swissmetro/04validation~02.html
examples/swissmetro/04validation~03.html
examples/swissmetro/04validation~04.html
examples/swissmetro/04validation~05.html
examples/swissmetro/04validation~06.html
examples/swissmetro/04validation~07.html
examples/swissmetro/04validation~08.html
examples/swissmetro/04validation~09.html
examples/swissmetro/04validation~10.html
examples/_tmp.py
webpage/website.old/
webpage/website/