#############################################
#                                           #
#               Configuration               #
#                                           #
#############################################

# All makefiles
**/Makefile
**/Makefile.in

# Other binary files
config.h
config.log
config.status
gtkgui/debuggui
libtool
pythonbiogeme/debugbiogeme
pythonbiogeme/pythonbiogeme
pythonbiogeme/pythonbiogeme_static
stamp-h1
tools/histograms/histogram
tools/histograms/weightedhistogram
tools/prepareData/biocheckdata
tools/prepareData/biopreparedata
tools/prepareData/biosampledata

#############################################
#                                           #
#                Compilation                #
#                                           #
#############################################

# All .lo files
**/*.lo
**/*.la
**/.libs

# Other files
autom4te.cache/
libraries/utils/patCompilationDate.h
libraries/utils/patUser.h
biogeme/biogeme
biogeme/biogeme-biogeme.o
libraries/bisonbiogeme/.libs/
libraries/pythonbiogeme/.libs/
libraries/pythonbiogeme/bioCompilationDate.h
libraries/pythonbiogeme/bioUser.h
pybiogeme/pybiogeme-pybiogeme.o
libraries/bisonbiogeme/patSpecParser.cc
libraries/bisonbiogeme/patSpecParser.hh
biomerge/biomerge
biomerge/biomerge-biomerge.o
biosim/biosim
biosim/biosim-biosim.o
biosim/biosim-patSimVersion.o
mod2py/mod2py
mod2py/mod2py-mod2py.o
pybiogeme/pybiogeme

#############################################
#                                           #
#                   Other                   #
#                                           #
#############################################
.idea
src/cbiogeme.cpp
biogeme.egg-info
build
tests/functions/simpleExample.html
tests/functions/simpleExample.pickle
tests/functions/simpleExample~00.html
tests/functions/simpleExample~00.pickle
tests/functions/simpleExample~01.html
tests/functions/simpleExample~01.pickle
tests/functions/simpleExample~02.html
tests/functions/simpleExample~02.pickle
tests/functions/simpleExample~03.html
tests/functions/simpleExample~03.pickle
tests/functions/simpleExample~04.html
tests/functions/simpleExample~04.pickle
tests/functions/simpleExample~05.html
tests/functions/simpleExample~05.pickle
biogeme/pylint.log
tests/swissmetro/biogemeModelDefaultName~14.pickle
tests/swissmetro/biogemeModelDefaultName~14.html
tests/swissmetro/biogemeModelDefaultName~13.pickle
tests/swissmetro/biogemeModelDefaultName~13.html
tests/functions/simpleExample~08.html
tests/functions/simpleExample~07.pickle
tests/functions/simpleExample~07.html
tests/functions/simpleExample~06.pickle
tests/functions/simpleExample~06.html
tests/swissmetro/biogemeModelDefaultName~15.html
tests/swissmetro/biogemeModelDefaultName~15.pickle
tests/swissmetro/biogemeModelDefaultName~16.html
tests/swissmetro/biogemeModelDefaultName~16.pickle
tests/swissmetro/biogemeModelDefaultName~17.html
tests/swissmetro/biogemeModelDefaultName~17.pickle
tests/swissmetro/biogemeModelDefaultName~18.html
tests/swissmetro/biogemeModelDefaultName~18.pickle
