body  {
    background-image: url("background.jpg");
    background-color: #cccccc;
}

h1 {
    color: white;
    text-decoration: none;
    font-family: Sans-serif;
}
.panel {
    margin-left:100px;
    margin-right:100px;
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:7px;
    box-shadow:7px 7px 7px rgba(0,0,0,.05);
    font-family: Verdana;
}

.panel a:link {
    text-decoration:none;
    color:rgb(0,0,0);

}

.panel a:hover {
    color:rgb(150,150,150);
    text-decoration:underline;
}

/* visited link */
.panel a:visited {
    color:rgb(100,100,100);
    text-decoration:none;
}



.panel-default{
    border-color:#ddd
		     
}

.panel-body{
    padding:15px
}

.panel-heading{
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    background-color: rgb(220,220,220);
    font-weight: bold;
    font-variant: small-caps;
}

.panel-title{
    margin-top:0;
    margin-bottom:0;
    font-size:16px;
    color:inherit
}

.panel-footer{
    padding:10px 15px;
    background-color:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    background-color: rgb(220,220,220);
    color:inherit
}

.copyright{
    font-style: italic;
    font-size: 0.75em;
    text-align: right;
}
